body {
    width: 90%;
    margin: auto;    
    background: -webkit-radial-gradient(rgb(255, 228, 196), rgb(254, 190, 115));
    background: radial-gradient(rgb(255, 228, 196), rgb(254, 190, 115));


}

p {
    font-family: Arial serif;
    word-spacing: 2px;
    font-size: 18px;
    color: darkmagenta;
    margin: 10px;
}

header, section, footer, aside {
    width: 50%;
    margin: auto;
    font-size: 160%;
    background-color: grey;
    border-left: 3px solid RGB(160,54,35);
    padding: 80px 0px 80px 30px;
}

header p {
    background-color: yellow;
    text-align: center;
}

.link {
    font-size: 25px;
    color: aqua;
}

.link:hover {
    font-size: 30px;
    color: darkmagenta;
}

.citation, .farmer {
    font-style: italic;
}

.citation {
    border-left: 2px solid blue;
}

.farmer {
    border-left: 2px solid red;
}

p > .good {
    font-style: italic;
    text-transform: capitalize;    
    color: green;
}

p > .bad {
    font-style: italic;
    text-transform: capitalize;
    color: red;
}

i > .bad {
    font-style: italic;
    text-transform: capitalize;
    color: red;
}

[target="white"] {
    background-color: white;
}

article + p {
    font-weight: bold;
}